
extends layout

block content

  form(action='./addTask' method='POST' class='form-registration')
    // Task Name
    div(class='row my-3')
      div(class='col-md-2 align-bottom')
        label(for="taskName" class='fs-5') Task Name
      div(class='col-md-8')
        input(class="form-control form-control-sm" type="text" x-webkit-speech name='taskName' placeholder="Enter new task here")

     // Description
    div(class='row my-3')
      div(class='col-md-2 align-bottom')
        label(for="description" class='fs-5') Description
      div(class='col-md-8')
        textarea(class="form-control form-control-sm" name='description' placeholder="Enter task description here" )


    // User ID
    div(class='row my-3')
      div(class='col-md-2 align-bottom')
        label(for="userid" class='fs-5') User ID
      div(class='col-md-8')
        input(class="form-control form-control-sm" type="number" name='userid' placeholder="Enter user ID here" min="0" max="100")

    // Category
    div(class='row my-3')
      div(class='col-md-2 align-bottom')
        label(for="category" class='fs-5') Category
      div(class='col-md-8')
        input(class="form-control form-control-sm" type="text"  x-webkit-speech name='category' placeholder="Enter task category here")

   
    // Deadline
    div(class='row my-3')
      div(class='col-md-2 align-bottom')
        label(for="deadline" class='fs-5') Deadline
      div(class='col-md-8')
        input(class="form-control form-control-sm" type="date" name='deadline')

    // Priority
    div(class='row my-3')
      div(class='col-md-2 align-bottom')
        label(for="priority" class='fs-5') Priority
      div(class='col-md-8')
        select(class="form-control form-control-sm" name='priority')
          option(value='Low') Low
          option(value='Medium') Medium
          option(value='High') High

    // Completed
    div(class='row my-3')
      div(class='col-md-2 align-bottom')
        label(for="completed" class='fs-5') Completed
      div(class='col-md-8')
        select(class="form-control form-control-sm" name='completed')
          option(value='false' selected) No
          option(value='true') Yes
        div(class='col-md-2 text-end')
          button(class='btn btn-success btn-sm' type='submit') Add task

  h5(class='my-2') Current tasks

  div(class='row mb-3 border-bottom border-3')
     div(class='col-md-2 fw-bold') Task
     div(class='col-md-2 fw-bold') Category
     div(class='col-md-4 fw-bold') Description
     div(class='col-md-1 fw-bold') Deadline
     div(class='col-md-1 fw-bold') Priority
     div(class='col-md-2 fw-bold') Action

  each task in currentTasks
    div(class='row mb-2')
      div(class='col-md-2') #{task.taskName}
      div(class='col-md-2') #{task.category}
      div(class='col-md-4') #{task.description}
      div(class='col-sm-2') #{format(task.createDate, "yyyy-MM-dd")}
      div(class='col-md-1') #{task.priority}
      div(class='col-sm-2')
        form(action='./completeTask' method='POST' class='form-registration')
          input(type='hidden' name='_id' value=`${task._id}`)
          button(class='btn btn-primary btn-sm mx-1' type='submit') Complete
      div(class='col-sm-2')
        form(action='./deleteTask' method='POST' class='form-registration')
          input(type='hidden' name='_id' value=`${task._id}`)
          button(class='btn btn-danger btn-sm mx-1') Delete

  h5(class='my-2') Completed tasks
  div(class='row mb-3 border-bottom border-3')
    div(class='col-sm-8 fw-bold') Task
    div(class='col-sm-2 fw-bold') Created
    div(class='col-sm-2 fw-bold') Completed
  each task in completedTasks
    div(class='row mb-3')
      div(class='col-md-2') #{task.taskName}
      div(class='col-md-2') #{task.category}
      // ... [Add other task details as needed]
      div(class='col-md-2')
        if task.completedDate && !isNaN(new Date(task.completedDate).getTime())
          #{format(new Date(task.completedDate), "yyyy-MM-dd")}
        else
          | Not Completed
